body{
    font-family: 'Mulish', 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* signup */
.signup_sidebar_container{
    background: linear-gradient(180deg, #F5F6F8 1.18%, #C6D3DE 53.43%, #5F8DB5 87.74%);
    min-height: 100vh;
    padding: 0;
}
.signup_sidebar{
    /* background: linear-gradient(180deg, #F5F6F8 1.18%, #C6D3DE 53.43%, #5F8DB5 87.74%); */
    background-image: url(../imgs/elipses.svg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
}
.sidebar_title_container{
  padding: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.convert-currency-desc{
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #4B506D;
}
.convert-currency-value{
  font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: rgb(218, 105, 0);
}
.convert-currency-amount{
  font-family: Nunito;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 26px;
letter-spacing: 0.02em;
text-align: left;
color: #013055;
}
.send-money-currency-label{
  font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #013055;
}
.conversion{
  font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #24346A;
background: #FFFFFF;
border: 0.5px solid #8794BA;
border-radius: 16px;
position:absolute;
top: 26.46%;
left: 39%;
z-index: 4px;
padding: 3px 5px;
}
.currency-conversion{
  font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #24346A;
background: #FFFFFF;
border: 0.5px solid #8794BA;
border-radius: 16px;
position:absolute;
top: 20.46%;
left: 37.6%;
z-index: 4px;
padding: 3px 5px;
}
.page_info{
  width: auto;
}

.bubbles{
    background-image: url(../imgs/bubbles.svg);
    background-size: contain;
    background-position-x: -1vw;
    background-repeat: no-repeat;
    background-position-y: 20vh;
    min-height: 76.27vh;
    padding-top: 270px;
    padding-left: 10vw;
    height: auto;
}

.logo_container{
    width: 11.5vw;
}

.modal-main {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content{
      min-height: 100vh;
  }
.modal_header_heading{
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 20px;
letter-spacing: 0.2px;
color: #252733;
opacity: 0.95;
}

.modal_input_labels{
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.1px;
color: #4B506D;
}

.modal_inputs{
    /* height: 48px; */
border: 1.3px solid #E5E5E5;
box-sizing: border-box;
border-radius: 3px;
}

.modal_input_images{
    width: 15.31px;
    /* border-radius: 1px !important; */
height: 12.76px;
}
.modal_input_images_descriptions{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 8.93333px;
line-height: 12px;
color: #FFFFFF;
}

.modal_images_dropdown{
    width: 67px;
min-height: 27.44px;
background: #0A4A82;
color: white;
border: 0.510476px solid #0A4A82;
box-sizing: border-box;
border-radius: 0.638095px;
}

.modal_dropdown_menu{
min-width: 20px !important;
background: #0A4A82;
color: white;
border: 0.510476px solid #0A4A82;
box-sizing: border-box;
border-radius: 0.638095px;
}

.myaccount_amount{
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
color: #252733;
}

.account_details_list{
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
color: rgba(75, 80, 109, 0.8);
}

label.label input[type="file"], label.label2 input[type="file"] {
    position: absolute;
    top: -1000px;
}
.label {
      border: 1.3px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 7px 15px;
    margin: 5px;
    display: inline-block;
  }
.label2 {
      box-sizing: border-box;
      background: #F7F8FC;
border-radius: 16px;
    cursor: pointer;
    width: 70%;
    padding: 7px 15px;
    margin: 5px 20px;
    display: inline-block;
  }
.label2 span{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #4B506D;
  }
.label span{
    background: #CFCFCF;
mix-blend-mode: multiply;
border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 4px;
    cursor: pointer;
    padding: 2px 15px;
    font-family: 'Open Sans', 'mulish';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.02em;
color: #383838;
  }
  .label:hover {
    border: 3px solid #E5E5E5;
  }
.label:valid + span {
      color: #000000;
  }
.image-instruction{
  font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
.check-box{
  height: 26px;
width: 26px;
border-radius: 50%;
border: 1px solid #0ACF83;
}
.camera{
  background: url(../imgs/overlayimage.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  width: 40%;
  padding-top: 380px;
}
  .confirmation_notice{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #008753;

    background: #F7F8FC;
mix-blend-mode: multiply;
border-radius: 1px;
  }

  .answer{
      min-height: 350px;
    background: #e8f8ff7c;
    mix-blend-mode: multiply;
    padding: 2vw;
    padding-left: 7vw;
    /* opacity: 0.3; */
    box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
  .answer h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(9, 30, 69, 0.8);
  }

  .answer p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(9, 30, 69, 0.8);
  }

  .send-money-container{
    width: 60%;
    min-height: 400px;
  }

  .question{
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      padding: 10px !important;
    text-align: left;
      font-family: 'Nunito';
font-style: normal;
font-weight: normal;
font-size: 16.5px;
/* line-height: 20px; */
color: rgba(9, 30, 69, 0.8);
  }
  
  .question-active{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      text-align: left;
      margin-top: 10px;
      align-items: center;
    padding: 10px !important;
      background: #e8f8ff7c;
      mix-blend-mode: multiply;
      font-family: 'Nunito';
font-style: normal;
font-weight: normal;
font-size: 16.5px;
/* line-height: 20px; */
color: rgba(9, 30, 69, 0.8);
  }

  .bullet{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #0898A0;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .bullet-active{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #091E45;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #other-beneficiary{
    font-family: 'Mulish';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #4B506D;
  }

  .add_ben_btn{
      display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #0898A0 !important;
    border: #0898A0 !important;
    border-radius: 3px !important;
    font-family: 'Mulish';
    color: white;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
}

.transaction_history{
    font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.30000001192092896px;
text-align: left;
color: #252733;
}

.current-balance{
    font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.4000000059604645px;
text-align: center;
color: #252733;
}

.questions{
  position: absolute !important;
  right: -5vw !important;
  z-index: 1 !important;
  cursor: pointer !important;
}

.current_step{
  font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #4B506D;
}

.verify_container{
  width: 60%;
  min-height: 400px;
}

.sidebar_btn_active{
  border-left: 7px solid white;
  background-color: #ececf048;
  height: 56px;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: start;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 18px;
}

.verify_heading{
  font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #091E45;
}


.verify_subheading{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #4B506D;
}
.verify_identity_heading{
  font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #091E45;
}

.verify_body>ul li{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #4B506D;
}

legend{
  width: fit-content;
}
fieldset li{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #4B506D;
}
.photo-requirements{
  font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
color: #F7F9FA;
background: #091E45;
border-radius: 12px;
padding: 5px 10px;
}
.preferred-document{
  background-color: #F7F8FC;
}
.preferred-document:hover{
  background-color: #dbdfec;
}
.row_ten_card_text{
  font-size: 14px;
}
.row_ten_card_body>p{
  width: 100%;
}
.row_ten_card_body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message-box{
  width: 75%;
}

/* business details */
.card-container{
  padding: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 380px){
  .questions{
    position: relative !important;
    right: '0vw' !important;
    z-index: '0' !important;
    cursor: pointer !important;
    margin-bottom: 30px;
  }
  .preferred-document{
    width: 100%;
  }
  .send-money-container{
    width: auto;
    min-height: 400px;
  }
  .conversion{
left: 28%;
  }
  .currency-conversion{
    left: 28%;
  }
  .add_ben_btn{
    display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color: #18C4FF !important;
  border: #18C4FF !important;
  border-radius: 3px !important;
  font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
}
.page_info{
  width: 60%;
}
  .answer{
    min-height: 350px;
  background: #e8f8ff7c;
  mix-blend-mode: multiply;
  padding: 10vw;
  /* padding-left: 7vw; */
  /* opacity: 0.3; */
  box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.verify_container{
  width: 100%;
}
.card-container{
  padding: 10px;
  margin-bottom: 50px;
}
}
@media screen and (max-width: 780px){
  .conversion{
    left: 25%;
    }
    .currency-conversion{
       left: 30%;
    }
    .page_info{
      /* width: 25%; */
      /* justify-content: center; */
      /* background-color: chartreuse; */
    }
  }

@media screen and (max-width: 680px){
  .page_info{
    width: 70%;
    justify-content: center;
  }
  .add_ben_btn{
    width: auto;
  }
  .conversion{
    left: 30%;
    }
    .currency-conversion{
      left: 30%;
    }
  .sidebar_btn_active{
    padding: 13px;
}
.verify_container{
  width: 80%;
}
.sidebar_title_container{
  padding: 15px 27px;
}

}